<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Title</title>
</head>
<body>
<h2>Texes table</h2>

<table>
    <thead>
        <tr>
            <th>Группа налога</th>
            <th>Подгруппа налога</th>
            <th>Округ РФ</th>
            <th>Регион РФ</th>
            <th>Год</th>
            <th>Значение</th>
        </tr>
        <tr>
            <td>
                <select class="field-changer" id="col_a">
                    <option selected="selected" value="null">Не выбрано</option>
                </select>
            </td>
            <td>
                <select class="field-changer" id="col_b">
                    <option selected="selected" value="null">Не выбрано</option>
                </select>
            </td>
            <td>
                <select class="field-changer" id="col_c">
                    <option selected="selected" value="null">Не выбрано</option>
                </select>
            </td>
            <td>
                <select class="field-changer" id="col_d">
                    <option selected="selected" value="null">Не выбрано</option>
                </select>
            </td>
            <td>
                <select class="field-changer" id="col_y">
                    <option selected="selected" value="null">Не выбрано</option>
                </select>
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>

</body>
</html>
